[Unit]
Description=Mail API
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash -l -i -c "gunicorn --chdir /var/www/entwinity.hopto.org/ main:app -b 127.0.0.1:4000"
[Install]
WantedBy=multi-user.target
